<.breadcrumbs>
  <:item navigate={~p"/admin/courses"}>Kurse</:item>
  <:item>Neuer Kurs</:item>
</.breadcrumbs>

<.header>
  Neuer Kurs
  <:subtitle>Verwende dieses Formular, um Kurse zu verwalten und anzulegen.</:subtitle>
</.header>

<.course_form
  changeset={@changeset}
  types={@types}
  clubs={@clubs}
  seasons={@seasons}
  action={~p"/admin/courses"}
  current_user={@current_user}
/>
