<.breadcrumbs>
  <:item navigate={~p"/admin/clubs"}>Vereine</:item>
  <:item>Verein bearbeiten</:item>
</.breadcrumbs>

<.header>
  Verein bearbeiten
  <:subtitle>
    Verwende dieses Formular, um Vereine zu verwalten und neue Vereine anzulegen.
  </:subtitle>
</.header>

<.club_form
  changeset={@changeset}
  associations={@associations}
  action={~p"/admin/clubs/#{@club}"}
  club={@club}
/>
