<.breadcrumbs>
  <:item navigate={~p"/admin/clubs"}>Vereine</:item>
  <:item>Neuer Verein</:item>
</.breadcrumbs>

<.header>
  Neuer Verein
  <:subtitle>
    Verwende dieses Formular, um Vereine zu verwalten und neue Vereine anzulegen.
  </:subtitle>
</.header>

<.club_form
  changeset={@changeset}
  associations={@associations}
  action={~p"/admin/clubs"}
  current_user={@current_user}
/>
