<.breadcrumbs>
  <:item navigate={~p"/admin/seasons"}>Saisons</:item>
  <:item>Saison bearbeiten</:item>
</.breadcrumbs>

<.header>
  Saison bearbeiten
  <:subtitle>
    Verwende dieses Formular, um Saisons zu verwalten/eine neue Saison anzulegen.
  </:subtitle>
</.header>

<.season_form
  changeset={@changeset}
  action={~p"/admin/seasons/#{@season}"}
  season={@season}
  current_user={@current_user}
/>
