<.header>
  Neue Saison
  <:subtitle><.form_hint /></:subtitle>
</.header>

<.season_form changeset={@changeset} action={~p"/admin/seasons"} />

<.back navigate={~p"/admin/seasons"}>Zurück zur Übersicht</.back>
