<.breadcrumbs>
  <:item navigate={~p"/admin/seasons"}>Saisons</:item>
  <:item>Neue Saison</:item>
</.breadcrumbs>

<.header>
  Neue Saison
  <:subtitle>
    Verwende dieses Formular, um Saisons zu verwalten/eine neue Saison anzulegen.
  </:subtitle>
</.header>

<.season_form changeset={@changeset} action={~p"/admin/seasons"} current_user={@current_user} />
