<.breadcrumbs>
  <:item navigate={~p"/admin/associations"}>Verbände</:item>
  <:item>Verband bearbeiten</:item>
</.breadcrumbs>

<.header>
  Verband bearbeiten
  <:subtitle>
    Verwende dieses Formular, um Verbände zu verwalten und neue Verbände anzulegen.
  </:subtitle>
</.header>

<.association_form
  changeset={@changeset}
  action={~p"/admin/associations/#{@association}"}
  association={@association}
  current_user={@current_user}
/>
