<.breadcrumbs>
  <:item navigate={~p"/admin/associations"}>Verbände</:item>
  <:item>Neuer Verband</:item>
</.breadcrumbs>

<.header>
  Neuer Verband
  <:subtitle>
    Verwende dieses Formular, um Verbände zu verwalten und neue Verbände anzulegen.
  </:subtitle>
</.header>

<.association_form changeset={@changeset} action={~p"/admin/associations"} />
