<.header>
  Neuer Verband
  <:subtitle>
    Verwende dieses Formular, um Verbände zu verwalten und neue Verbände anzulegen.
  </:subtitle>
</.header>

<.association_form changeset={@changeset} action={~p"/admin/associations"} />

<.back navigate={~p"/admin/associations"}>Zurück zur Übersicht</.back>
