@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "../vendor/phoenix-liveview.js";
@plugin "../vendor/heroicons.js";

@theme {
  --color-brand: #FD4F00;
}

/* This file is for your main application CSS */