<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Hoppla, etwas ist schief gelaufen! Bitte überprüfe die Fehler unten.
  </.error>
  <.input field={f[:unenrolled_at]} type="datetime-local" label="Abmeldung um" />
  <:actions>
    <.button>Anmeldung speichern</.button>
  </:actions>
</.simple_form>
